# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
pip-wheel-metadata/
*.egg-info/

# OS/editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Environment
.env
.env.local

# Build
dist/
build/
